
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: rgb(48, 19, 216);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:red;
}

.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color:black;
}

.about,
.production,
.techniques {
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: blue;
    text-align: center;
    padding: 10px 0;
}
